/* File for customize colors */

/* Input */
.css-4u4t8f-MuiInputBase-root-MuiInput-root-MuiSelect-root:before {
  border-bottom-color: #EAEAEA !important;
}

.css-4u4t8f-MuiInputBase-root-MuiInput-root-MuiSelect-root:after {
  border-bottom-color: #EAEAEA !important;
}

.css-jd1zyo-MuiSelect-select-MuiInputBase-input-MuiInput-input {
  color: #EAEAEA !important;
}

.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon, .css-1mf6u8l-MuiSvgIcon-root-MuiSelect-icon {
  color: #EAEAEA !important;
}

/* Icons */
.css-78trlr-MuiButtonBase-root-MuiIconButton-root, .css-tzssek-MuiSvgIcon-root, .css-ci5apu-MuiSvgIcon-root, .css-i4bv87-MuiSvgIcon-root {
  color: #EAEAEA !important;
}
